@import url("font-awesome.min.css");

h1 { 
	margin-top: 88px;
	font-size: 80px;
}

h3 { 
	
	font-size: 22px;
	font-weight: 100;
	margin-bottom: 25px;
}

p { 

	font-size: 16px}

a { color:white;}


body  {	

	color: white;
	text-align: center;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url("images/background.jpg");
	background-size:1500px 900px;
	letter-spacing: .1em;
	line-height: 1.75em;
}

/*footer {
		color:white;
	}*/

.projects p {
	font-size: large;
	margin-top: 50px;
	margin-bottom: 20px;
}

.projects { 

	color:white;
	font-size: large;
	margin-top: 90px;
	margin-bottom: 20px;
}

.projects img {
	margin-bottom: 8px;
	border-color: white;
	border-style: outset;
	border-width: 1px;
} 

.social {

	font-size: xx-large;
	letter-spacing: 21px;}

#website { 

font-size: small;}