/*
 *= require font-awesome
 */
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'neat-helpers';
$base-font-family: "Roboto", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

body {	
	font-family: $base-font-family;
	color: black;
	text-align: center;
}

h1 { 
	margin-top: 70px;
	font-size: 60px;
	font-weight: 200;

}

h2 { 
	margin: 30px;
	font-size: 26px;
	font-weight: 100;
}

p { 
	font-size: 14px;
	font-weight: 500;
}

a {	
	font-size: 12px;
	color: black;
	&:hover {
		font-size: 14px;
		font-style: bold;
		color: lighten(black, 25);
		@include transition(all 0.1s);
	}
	&:active {
	}
}

img {
	border: 1px solid black;
	border-radius: 3px;
}


.container {
@include outer-container;
}

.projects-container {
	margin-top: 40px;
	margin-bottom: 40px;
	 @include span-columns(12);
}

#project1{
	@include span-columns(3 of 12);
}

#project2{
	@include span-columns(3 of 12);
}

#project3{
	@include span-columns(3 of 12);
}

#project4{
	@include span-columns(3 of 12);
}

.social {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: x-large;
	letter-spacing: 21px;
	a {
	font-size: 20px;
	
	&:hover {
		font-size: 26px;
		font-style: bold;
		color: lighten(black, 25);
		@include transition(all 0.1s);
	}
}
}
